/* body styling */
body{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  line-height: 2em;
  background-color: #fffaf5;
}

/* text styling */

h1{
  color:#993000;
}

p{
  color: #662000;
  margin-left: 100px;
  margin-right: 100px;
}

h2{
  margin: 60px auto;
  color:#993000;
  text-align: center;
  font-size: 50px;
}

h3{
  text-align: center;
}

/*logo*/
#logo {
  position:absolute;
  height: 100px;
  margin-top: 30px;
  margin-left: 370px;
}

#logo img{
  max-height:100%;
  width:auto;
}

header {
  position:relative;
  z-index: 99;
}
/* nav bar styling */
nav {
  background-color: #f9bc71;
  height:150px;
  margin: 0px 0px 0px 0px;
}

.nav-box{
  width: 40%;
  padding-top: 15px;
  margin-top: -30px;
  margin-left: 450px;
}

nav h1{
  font-size: 40px;
  letter-spacing: 5px;
  margin-bottom: 20px;
  margin-right: 15px;
  text-align: right;
}

nav ul{
  display: inline-block;
  width: 95%;
  text-align: center;
  position: relative;
  margin: 0px 0px 0px 0px;
}

nav li{
  display: inline-block;
  text-align: center;
  margin-top: 0px;
  padding: 0px 10px 0px 10px;
}

nav li.bar{
  text-decoration: none;
  font-size: 1.5em;
  padding: 0px 5px;
  color: #cc4000;
}

nav ul a{
  text-decoration: none;
  opacity: 0.9;
  color:#993000;
}

#here{
  text-shadow: 2px 1px #e57a55;
  font-size: 1.3em;
  font-weight: bold;
  border-bottom: dotted;
  border-width: 3px;
  border-color: #e57a55;
}



/* footer styling */

footer {
    /* position: absolute; */
    padding-top: 30px;
    bottom: 0;
    width: 100%;
    background-color: #f9bc71;
  }

  footer p{
    color: #fff3e4;
    font-size: 18px;
    display: inline-block;
    /* text-align: center; */
    /* padding-top: 30px; */
    padding-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .footer-cite{
    margin-left: 210px;
  }

  .icon-block{
    margin-left: 500px;
    display: flex;
  }

  .icon-block cite{
    position: absolute;
  }

  .icon-block p{
    margin-left: 10px;
  }

  .social-media-icon{
    height: 50px;
  }

/* home div box styling */

#home-info{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  padding-top:2em;
  padding-bottom:6em;
  position:relative;
}

#home-info div{
  flex-grow: 1;
  width: 100%;
  padding: 0px 50px;
}

#home-info h2{
  font-size: 30px;
  text-align: center;
}

#home-info-1, #home-info-2{
  border-right-style: dotted;
  border-right-width: 1px;
  border-color: #de7565;
}

#home-info p{
  margin-left: 0px;
  margin-right: 0px;
}

cite{
  font-size: 8px;
  color: #f6925b;
  display: inline-block;
  position: relative;
  margin-left: 100px;
}

cite a{
  color: #f6925b;
}

/*cover photos*/
#slideshow_img{
  display:block;
  width:1150px;
  margin:0px auto;
}

.slideshow{
  padding-left:50px;
  padding-right:50px;
  padding-top: 110px;
  padding-bottom: 50px;
  margin: 0px 0px;
  position:relative;
  background-color: #fff3e4;
}

.slide_button{
  padding:7px 12px;
  margin-top: -50px;
  font-size: 2em;
  font-weight: bold;
  color: #de7565;
  cursor: pointer;
  border-style: dotted;
  border-width: 1px;
  border-radius: 50%;
}

#next_button{
  display: inline;
  position: absolute;
  right: 45px;
  top: 50%;
  z-index: 1000;
}

#next_button p{
  margin: 0px 0px;
}

#last_button{
  display: inline;
  position: absolute;
  left: 45px;
  top: 50%;
  z-index: 1000;
}

#last_button p{
  margin: 0px 0px;
}

.img_holder{
  height:500px;
}



/* members page h1 */

h1.members{
  margin: 60px auto;
  text-align: center;
}

/* gallery styling */
.gallery-pics{
  width: 300px;
  border-radius: 10px;

}

.gallery-blocks{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 25px;
  background-color: #fff3e4;
}

.gallery-blocks div{
  flex-grow: 1;
  margin: 10px auto;
  padding-left: 45px;
  text-align: center;
}

div.filler{
  width: 25%;
  margin: 10px auto;
  padding-left: 45px;
  text-align: center;
}

.h2-gallery{
  font-size: 50px;
  margin-top: 60px;
}

/*tags styling*/
.tags_list{
  padding:0;
}

.tags_list li{
  font-size: 10px;
  display:inline-block;
  text-align: center;
  background-color: #f9bc71;
  color:#662000;
  border-radius: 5px;
  list-style: none;
  padding: 0px 5px;
  margin: 0px 5px;
}

.tags_list2{
  padding:0px;
  margin: 0px 545px 30px 545px;
}

.tags_list2 li{
  font-size: 10px;
  text-align: center;
  display: inline;
  background-color: #f9bc71;
  color:#662000;
  border-radius: 5px;
  list-style: none;
  padding: 10px 10px;
}

/*gallery filters*/
#gallery_filter {
  background-color: #fffaf5;
  top: 20px;
  text-align: center;
}

#gallery_filter ul li{
  list-style: none;
  display:inline-block;
  margin: 0 20px;
  border:2px dotted #662000;
  padding:5px 15px;
  border-radius: 10px;
}

#gallery_filter li a{
  text-decoration: none;
  color:#662000;
  display:block;
}

/* login form stying */

#login{
  padding: 20px 50px;
  display: flex;
  flex-direction: row;
  border-style: dotted;
  border-width: 1px;
  border-radius: 25px;
  border-color:#662000;
  margin: 30px 150px;
}

#login h2{
  margin: 20px 0px;
}

#login label{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #662000;
}

#login button{
  margin-top: 5px;
  /* margin-left: 150px; */
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: bold;
  padding:5px 5px;
  border-radius: 5px;
  height: 20px;
  margin-left: 30px;
}

#login input{
  margin-right: 50px;
  border-radius: 5px;
  height: 20px;
}

form h2{
  font-size: 30px;
  margin-left: 50px;
}

form div{
  margin-top: 20px;
  margin-left: 150px;
}

/* upload form styling */
.upload-form{
  padding: 20px 50px;
  display: flex;
  flex-direction: row;
  border-style: dotted;
  border-width: 1px;
  border-radius: 25px;
  border-color:#662000;
  margin: 30px 50px;
}

.upload-form div{
  margin-left: 0px;
  margin-top: 55px;
}

.upload-form label{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #662000;
}

.upload-form button{
  margin-top: 5px;
  /* margin-left: 150px; */
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: bold;
  padding:5px 5px;
  border-radius: 5px;
  height: 20px;
  margin-left: 30px;
}

.upload-form input{
  margin-right: 50px;
  border-radius: 5px;
  height: 20px;
}

.upload-tag-form{
  padding: 50px 0px;
  text-align: center;
  border-style: dotted;
  border-width: 1px;
  border-radius: 25px;
  border-color:#662000;
  margin: 30px 400px;
}

legend{
  display: inline;
  color: #662000;
}

form h2{
  font-size: 30px;
  margin-left: 50px;
}

#upload-form div{
  margin-top: 20px;
  margin-left: 120px;
}

/* members page styling */
.members-img{
  width: 300px;
  border-radius: 50%;
}

.members-blocks{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 25px;
  background-color: #fff3e4;
}

.members-blocks div{
  flex-grow: 1;
  margin: 10px auto;
  padding-left: 45px;
}

.container{
  position:relative;
}

p.member_name{
  opacity: 0;
  width: 100px;
  margin-right: 0px;
  margin-left: 0px;
  position: relative;
  text-align: center;
  top: -210px;
  left: 50px;
  font-size: 25px;
  color:#662000;
  text-decoration: none;
}

a{
  text-decoration: none;
}

.container:hover img {
  opacity: 0.25;
}

.container:hover .member_name {
  opacity: 1;
  display: block;
}

/*member jump link*/
#member_filter {
  border:dotted 2px #f9bc71;
  border-radius: 10px;
  padding: 10px 10px;
  text-align: center;
  position:fixed;
  z-index: 1;
  left:10px;
  margin-top:10px;
}

#member_filter a:hover{
  text-decoration: underline;
}

#member_filter p{
  margin:0;
}

#member_filter ul{
  display:inline;
  padding:0px;
}

#member_filter ul li{
  list-style: none;
  margin:10px 0px;
}

#member_filter li a{
  text-decoration: none;
  color:#662000;
  display:block;
  font-weight: bold;
}


/*contact form*/
.hidden{
  display:none !important;
}

/* #contact_form p{
  text-align: left;
} */

#contact_form{
  padding: 20px 50px;
  display: flex;
  flex-direction: row;
  border-style: dotted;
  border-width: 1px;
  border-radius: 25px;
  border-color:#662000;
  margin: 30px 150px;
}

#contact_form label{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #662000;
}

#contact_form button{
  margin-top: 5px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: bold;
  padding:5px 5px;
  border-radius: 5px;
  height: 20px;
  margin-left: 30px;
}

#contact_form input{
  margin-right: 50px;
  border-radius: 5px;
  height: 20px;
}

#contact_form textarea{
  margin-right: 50px;
  border-radius: 5px;
}

form h2{
  font-size: 30px;
  margin-left: 50px;
}

#contact_form div{
  margin-top: 20px;
  margin-left: 120px;
}

#dance input{
  margin-right: 5px;
}

.form_error{
  color:red;
  display: inline;
  margin-left: 0;
}

.message_error{
  font-size: 18px;
  color:red;
  display: block;
  margin-left: 0;
}

/* events page styling */
h1.events{
  margin-top: 50px;
  text-align: center;
}

div.events{
  width: 40%;
  margin: 60px auto;
  border-style: dotted;
  border-width: 1px;
  border-color: #e57a55;
  border-radius: 20px;
  background-color: #fff3e4;
}

div.events p{
  text-align: center;
}

div.practice{
  width: 40%;
  margin: 60px auto;
  border-style: dotted;
  border-width: 1px;
  border-color: #e57a55;
  border-radius: 20px;
  background-color: #fff3e4;
}

div.practice p{
  text-align: left;
}

/* join page styling */

#submit_button{
  margin-top: 30px;
  /* margin-left: 150px; */
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: bold;
  padding:5px 5px;
  border-radius: 5px;
  height: 20px;
  margin-left: 350px;
}

p.join{
  margin-left: 150px;
  margin-right: 150px;
}

cite.join{
  margin-left: 150px;
}

/* one member page styling */
img.one-member{
  display: block;
  margin: auto;
  align-items: center;
  max-width: 500px;
  max-height: 500px;

}

h2.one-member{
  font-size: 30px;
}

p.one-member{
  text-align: center;
}

h3.one-member{
  color:#993000;
}

.delete_img{
  color:	#b23800;
  margin-right:5px;
}

.delete_img2{
  color:	#b23800;
  position: absolute;
  top: 350px;
  left: 152px;
}

.back{
  text-align: center;
  margin-bottom:20px;
}

.back a{
  background-color: #f9bc71;
  border-radius: 10px;
  text-decoration: none;
  color:#b23800;
  font-size: 20px;
  padding: 8px 8px;
}

/* gallery string query page styling */
.one-picture{
  width: 800px;
  display: block;
  margin: 60px auto 40px auto;
  padding: 20px 20px;
  background-color: #fff3e4;
}

#sign-out{
  display: block;
  text-align: center;
  color: #e57a55;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 40px;
  text-decoration: underline;
}

#logged-in{
  font-size: 16px;
  text-align: center;
}

p.centered{
  text-align: center;
}
